/* Slider.css */
.slider-container {
    width: 100%;
    overflow-x: hidden;
    position: absolute;
    top: 28.5vh;
}

.slider {
    display: flex;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 80vh;
}