/* Slider.css */
.slider-container {
    width: 100%;
    overflow-x: hidden;
    /* position: absolute;
    top: 28.5vh; */
}

.slider {
    display: flex;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 80vh;
}

@media screen and (min-width:280px) and (max-width:760px) {
    /* .slider-container {
        top: 13.5vh;
    } */


    img {
        height: 60vh;
    }

    .slider-container {
        width: 100%;
    }
}

@media screen and (min-width:761px) and (max-width:998px) {
    img {
        height: 45vh;
    }

    .slider-container {
        width: 100%;
    }

}