.headcart {
    font-size: 32px;
    text-align: center;
}

.cart-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.headOfcart {
    display: flex;
    justify-content: space-evenly;
    font-size: 22px;
    color: palevioletred;
}

.content-cart {
    display: flex;
}

.content-cart img {
    height: 10vh;
    width: 15vw;
}