.Nav {
  list-style: none;
  background-color: #333;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  color: white;
}

.Nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.Nav a:hover {
  text-decoration: underline;
}

.footerUi {
  position: absolute;
  bottom: 0;
  background-color: cadetblue;
  width: 100%;
}