/*===============HEADER DESIGN=======================*/
body {

  overflow-x: hidden;
}

.header {
  height: 13.5vh;
  width: 100%;
}

.logo {
  height: 10vh;
  width: 6vw;
  border-radius: 50%;
  position: absolute;
  top: 2vh;
  left: 2vw;
}

.search-item {
  position: absolute;
  top: 2vh;
  left: 25%;
  height: 8vh;
  width: 45vw;
  border-radius: 100px;
  text-align: center;
  font-size: 24px;
  border-color: seagreen;
}

.searchicon {
  position: absolute;
  top: 1vh;
  left: 67%;
  font-size: 20px;
  color: seagreen;
}

.hampburgerr {
  display: none;
}

/*-----------========cartlogo-page----------------------==========*/
.authentication {
  position: absolute;
  width: 12vw;
  left: 82vw;
  color: seagreen;
}

.cart-icon {
  font-size: 34px;
  position: absolute;
  left: 7vw;
  top: 6vh;
  color: seagreen;
}


.user {
  position: absolute;
  font-size: 34px;
  left: 3vw;
  top: 6vh;
}

.counting {
  position: absolute;
  top: 2.5vh;
  font-size: 24px;
  left: 9.5vw;
}

.user-fill {
  display: none;
}

.authentication:hover .user-fill {
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: relative;
  top: 13vh;
  background-color: rgb(157, 235, 235);
  font-size: 28px;
  text-align: center;
  color: seagreen;

}

a {
  text-decoration: none;
}

/*-------------search part---------*/
.search-main {
  z-index: 1;
  width: 100%;
  border: 2px solid seagreen;
  position: absolute;
  background-color: antiquewhite;
  top: 30vh;
}

.crossbtn {
  font-size: 25px;
  float: right;
}

.search-detail {
  display: flex;
  flex-direction: column;
  gap: 1px;
  justify-content: space-between;

}

.search-detail2 {
  display: flex;
  gap: 8vw;
  justify-content: space-evenly;
  border: 1px solid salmon;
  text-align: center;
}



.search-detail2 button {
  height: 30px;
  font-size: 20px;

}

.search-img {
  height: 25vh;
  width: 15vw;
}

/*====================NAVBAR DESIGN================*/
.Nav {
  list-style: none;
  background-color: seagreen;
  display: flex;
  justify-content: space-evenly;
  gap: 3vw;
  align-items: center;
  /* height: 15vh; */
  color: white;
  /* position: relative; */

}

.Nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 24px;
}

.Nav a:hover {
  text-decoration: underline;
}

.mob {
  display: flex;
  text-align: center;
  gap: 1vw;
  font-size: 23px;

}

.iconn {
  height: 6vh;
  width: 3vw;
  border-radius: 50%;
  background-color: rgb(206, 74, 41);
}

/*-------body design of all component--------------------=======*/
.main-container {
  height: auto;
}

.container2 {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  gap: 4vw;
  flex-wrap: wrap;

}

.item-container {
  box-sizing: border-box;
  box-shadow: 2px 2px 2px 2px seagreen;
  /* border: 1px solid rgb(150, 148, 148); */
  text-align: center;
  width: 20vw;
  height: auto;
}

.image {
  height: 35vh;
  width: 15vw;

}

.Aprice {
  text-decoration: line-through;
  color: grey;
}

/*==============HOME PAGE===========================*/
.container-home {
  height: auto;
}

.container2-home {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 12vw;

}

.container-home h1 {
  text-align: center;
  font-size: 38px;
  font-weight: bold;
}

.Shop-more {
  /* position: relative;
  top: 265vh; */
  width: 100%;
  margin-top: 3vh;
  height: 67vh;
}

.Shop-more img {
  height: 65vh;
}

.Shop-more button {
  position: relative;
  bottom: 50vh;
  left: 16vw;
  height: 8vh;
  width: 10vw;
  font-size: 18px;
  font-weight: bold;
  background-color: transparent;
  border-color: chocolate;
  color: rgb(102, 79, 3);
}

.Shop-more h4 {
  position: relative;
  bottom: 60vh;
  left: 2vw;
  font-size: 30px;
  color: white;
}

/* =================customer support facilities========================*/
.facilties {
  height: 60vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
  justify-content: space-evenly;
}

.Csupport {
  height: 53vh;
  width: 22vw;
  border-radius: 15px;
  box-shadow: 2px 2px 2px 2px seagreen;
  background-color: rgb(167, 241, 198);
  text-align: center;
  color: rgb(83, 83, 83);
  line-height: 25px;
  /* padding: 15px; */
}

.support {
  font-size: 36px;
  text-align: center;
  color: darkgreen;

}

.Csupport h2 {
  text-align: center;
  color: darkgreen;
}

/*=================featured product=================*/
.featurehead {
  text-align: center;
  height: auto;
  width: 100%;
}

.featurehead h2 {
  font-size: 36px;
  color: rgb(38, 116, 72);
}

.featuredProduct {
  display: flex;
  flex-wrap: wrap;
  gap: 5vw;
  justify-content: space-evenly;
}

/*---------------single page design----------------------*/
.single-page {
  display: flex;
  gap: 8vw;
}

.single-page-img {
  border: 2px solid rgb(102, 95, 95);
  height: 85vh;
  width: auto;
  display: flex;


}

.big-img {
  border: 2px solid green;
  position: absolute;
  left: 8vw;
}

.big-img img {
  height: 55vh;
  width: auto;
}


.small-img {
  border: 2px solid skyblue;
  height: 20vh;
  width: 10vw;
  position: relative;
  justify-content: space-evenly;

  top: 62vh;
  gap: 5vw;
}

.small-img img {
  padding: 6px;
  height: 18vh;
  width: 9vw;
}


.single-page2 {
  font-size: 28px;
  font-weight: bold;
}

.single-page h4 {
  color: rgb(2, 39, 119);
}

.single-page2 h5 {
  color: #522626;
}

.price-detail {
  display: flex;
  gap: 3vw;
  color: #5a0808;
}

.aprice {
  text-decoration: line-through;
}

.aprice span {
  text-decoration: none;
}

.Addcart {

  font-weight: bold;
  height: 8vh;
  width: 16vw;
  font-size: 22px;
  background-color: rgb(10, 149, 184);
}

.mobileNav {
  display: none;
}

.hidenav {
  display: none;
}

/*================================================================
================================================================
==================MEDIA QUERRY================================*/

@media screen and (min-width:280px) and (max-width:760px) {

  /*===============HEADER DESIGN=======================*/
  .header {
    height: 13.5vh;
    width: 100%;
  }

  .logo {
    height: 8vh;
    width: 9vw;

  }

  .search-item {
    display: none;
  }

  .searchicon {
    display: none;
  }

  .hampburgerr {
    display: flex;
    font-size: 32px;
    position: absolute;
    right: 5vw;
    top: 3vh;
  }

  /*=======================CARTLOGO-DESIGN==============*/
  .authentication {
    display: none;
  }

  .authenticationMobile {
    display: block;
    position: absolute;
    z-index: 30;
    top: 8vh;
  }

  .cart-icon {
    font-size: 30px;
    position: absolute;
    left: 80vw;
    top: 7vh;
  }


  .user {
    /* position: absolute;
    font-size: 30px;
    left: 4vw;
    top: 7vh;
    color: seagreen; */
    display: none;

  }

  .counting {
    position: absolute;
    top: 3.5vh;
    font-size: 24px;
    left: 90vw;
  }

  .user-fill {
    display: none;
  }

  .mobile-signup {
    display: flex;
    gap: 30vw;
    justify-content: space-evenly;
  }

  .msign {
    border: 2px solid palevioletred;
    width: 25vw;
    background-color: rgb(241, 170, 182);
    border-radius: 5px;
    color: white;
  }


  /* .authenticationMobile:hover .user-fill {
    display: flex;
    flex-direction: column;
    z-index: 20;
    position: absolute;
    top: 14vh;
    background-color: rgb(157, 235, 235);
    font-size: 28px;
    text-align: center;
    color: seagreen;

  } */

  a {
    text-decoration: none;
  }

  /*========================navbar=================
  ========================*/
  .Nav {
    display: none;
  }


  .mobileNav {
    position: absolute;
    display: block;
    z-index: 20;
    top: 4rem;
    background-color: white;
    width: 100%;
    padding: 2rem 0rem;
    backdrop-filter: (10px);

  }

  .mobileNav li {
    list-style-type: none;
    margin-top: 15px;
    font-size: 22px;
    font-weight: bold;
  }

  .hidenav {
    display: none;
  }

  /*==============HOME PAGE===========================*/
  .container-home {
    height: auto;
    width: 100%;
    top: 74vh;

  }

  .container2-home {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 12vh;

  }

  .container-home h1 {
    font-size: 28px;
  }


  /*-------body design of all component--------------------=======*/
  .main-container {
    height: auto;
  }

  .container2 {
    display: flex;
    height: auto;
    width: 100%;
    gap: 5vh;
  }

  .item-container {
    width: 100%;
    height: auto;
    font-size: 20px;
  }

  .image {
    height: 35vh;
    width: 30vw;
  }

  /*==========================shop more+++++++++++++++++++*/
  .Shop-more {
    /* position: absolute;
    top: 490vh; */
    margin-top: 5vh;
    width: 100%;
    height: 52vh;
  }

  .Shop-more img {
    height: 50vh;
  }

  .Shop-more button {
    bottom: 42vh;
    left: 6vw;
    height: 6vh;
    width: 25vw;
    font-size: 14px;
  }

  .Shop-more h4 {
    font-size: 16px;
    bottom: 50vh;

  }

  /* =================customer support facilities========================*/
  .facilties {
    height: auto;
    /* position: relative;
    top: 520vh; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 6vh;
    justify-content: space-evenly;
  }

  .Csupport {
    height: 50vh;
    width: 99%;

  }

  .support {
    font-size: 30px;
    text-align: center;
  }

  /*=================featured product=================*/
  .featurehead {
    text-align: center;
    height: auto;
    width: 100%;
  }

  .featurehead h2 {
    font-size: 30px;
  }

  .featuredProduct {
    display: flex;
    flex-direction: column;
    gap: 5vh;
  }

  /*---------------single page design----------------------*/
  .single-page {
    display: flex;
    flex-direction: column;
    gap: 8vh;
  }

  .single-page-img {
    border: 1px solid rgb(102, 95, 95);
    height: 85vh;
    width: 100%;
    display: flex;


  }

  .big-img {
    border: 2px solid green;
    position: absolute;
    left: 0vw;
    width: 99.7%;
  }

  .big-img img {
    height: 40vh;
    width: 99.7%;
  }


  .small-img {
    height: 20vh;
    width: 98%;
    position: relative;
    justify-content: space-evenly;
    top: 62vh;
    gap: 5vw;
  }

  .small-img img {
    padding: 6px;
    height: 17vh;
    width: 88%;
  }


  .single-page2 {
    font-size: 20px;

  }

  .price-detail {
    display: flex;
    gap: 3vw;
    color: #5a0808;
  }

  .Addcart {
    height: 6vh;
    width: 40vw;
    font-size: 18px;
    background-color: rgb(10, 149, 184);
  }

}

/*===================media querrry==================
====================================*/

@media screen and (min-width:761px) and (max-width:998px) {


  /*===============HEADER DESIGN=======================*/


  .header {
    height: 11vh;
  }

  .logo {
    height: 8vh;

  }

  .search-item {
    height: 6vh;
    font-size: 22px;
  }

  .searchicon {
    top: 2vh;
    left: 66%;
    font-size: 20px;
  }

  .hampburgerr {
    display: none;
  }

  /*-----------========cartlogo-page----------------------==========*/
  .authentication {
    width: 14vw;
    left: 82vw;
  }

  .cart-icon {
    font-size: 34px;
    left: 9vw;
    top: 6.5vh;
  }

  .user {
    left: 2vw;
    top: 6.5vh;
  }

  .counting {
    top: 4.7vh;
    font-size: 22px;
    left: 13vw;
  }

  .user-fill {
    display: none;
  }

  .authentication:hover .user-fill {
    left: 0px;
    top: 10px;
    background-color: rgb(177, 241, 241);
    font-size: 28px;
    border: 2px solid red;
  }

  /* -------------search part--------- */
  .search-main {
    top: 30vh;
  }

  .crossbtn {
    font-size: 20px;
    float: right;
  }

  .search-img {
    height: 20vh;
    width: 19vw;
  }


  /*====================NAVBAR DESIGN================*/
  .Nav {
    list-style: none;
    background-color: seagreen;
    display: flex;
    justify-content: space-evenly;
    gap: 3vw;

  }

  .Nav a {
    font-size: 22px;
  }


  .mob {
    gap: 1vw;
    font-size: 19px;
  }

  .iconn {
    height: 3vh;
    width: 4vw;
  }

  /*-------body design of all component--------------------=======*/
  .main-container {
    height: auto;
  }

  .container2 {
    gap: 7vw;
  }

  .item-container {
    width: 26vw;
    height: auto;
  }

  .image {
    height: 23vh;
    width: 22vw;
  }

  /*==============HOME PAGE===========================*/
  .container-home {
    height: auto;
  }

  .container2-home {
    gap: 7vw;
  }

  .container-home h1 {
    font-size: 32px;
  }

  /*=================shop more=================*/
  .Shop-more {
    height: 45vh;
  }

  .Shop-more img {
    height: 44vh;
  }

  .Shop-more button {
    bottom: 32vh;
    left: 13vw;
    height: 5vh;
    width: 16vw;
    font-size: 19px;
  }

  .Shop-more h4 {
    bottom: 40vh;
    font-size: 26px;
  }

  /* =================customer support facilities========================*/
  .facilties {
    height: 65vh;
    gap: 7vw;
    justify-content: space-evenly;
  }

  .Csupport {
    height: 30vh;
    width: 40vw;
    line-height: 24px;
  }

  .support {
    font-size: 38px;
  }

  /*=================featured product=================*/


  .featurehead h2 {
    font-size: 34px;
  }

  .featuredProduct {
    gap: 4vw;
  }

  /*---------------single page design----------------------*/
  .single-page {
    display: flex;
    flex-direction: column;
    gap: 5vh;
  }

  .single-page-img {
    border: 1px solid rgb(102, 95, 95);
    height: 80vh;
    width: 100%;
    display: flex;
    gap: 3vh;
  }

  .big-img {
    position: absolute;
    left: 5vw;
    width: 90%;
  }

  .big-img img {
    height: 42vh;
    width: 100%;
  }


  .small-img {
    height: 19vh;
    width: 99%;
    top: 55vh;
    gap: 5vw;
  }

  .small-img img {
    padding: 6px;
    height: 17vh;
    width: 88%;
  }


  .single-page2 {
    font-size: 24px;

  }

  .price-detail {
    gap: 4vw;
  }

  .Addcart {
    height: 6vh;
    width: 40vw;
    font-size: 22px;
    background-color: rgb(10, 149, 184);
  }







}