/*===============HEADER DESIGN=======================*/
body {
  background-color: rgb(220, 253, 234);
}

.header {
  height: 13.5vh;
  width: 100%;
  background-color: rgb(207, 252, 226);
}

.logo {
  height: 10vh;
  width: 6vw;
  border-radius: 50%;
  position: absolute;
  top: 2vh;
  left: 2vw;
}

.search-item {
  position: absolute;
  top: 2vh;
  left: 25%;
  height: 8vh;
  width: 45vw;
  border-radius: 100px;
  text-align: center;
  font-size: 24px;
  border-color: seagreen;
}

.searchicon {
  position: absolute;
  top: 1vh;
  left: 67%;
  font-size: 20px;
  color: seagreen;
}

.hampburgerr {
  display: none;
}

/*-----------========cartlogo-page----------------------==========*/
.authentication {
  position: absolute;
  width: 12vw;
  left: 82vw;
  color: seagreen;
}

.cart-icon {
  font-size: 34px;
  position: absolute;
  left: 7vw;
  top: 6vh;
  color: seagreen;
}


.user {
  position: absolute;
  font-size: 34px;
  left: 3vw;
  top: 6vh;
}

.counting {
  position: absolute;
  top: 2.5vh;
  font-size: 24px;
  left: 9.5vw;
}

.user-fill {
  display: none;
}

.authentication:hover .user-fill {
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: relative;
  top: 13vh;
  background-color: rgb(157, 235, 235);
  font-size: 28px;
  text-align: center;
  color: seagreen;

}

a {
  text-decoration: none;
}

/*-------------search part---------*/
.search-main {
  z-index: 1;
  width: 100%;
  border: 2px solid seagreen;
  position: absolute;
  background-color: antiquewhite;
  top: 30vh;
}

.crossbtn {
  font-size: 25px;
  float: right;
}

.search-detail {
  display: flex;
  flex-direction: column;
  gap: 1px;
  justify-content: space-between;

}

.search-detail2 {
  display: flex;
  gap: 8vw;
  justify-content: space-evenly;
  border: 1px solid salmon;
  text-align: center;
}



.search-detail2 button {
  height: 30px;
  font-size: 20px;

}

.search-img {
  height: 25vh;
  width: 15vw;
}

/*====================NAVBAR DESIGN================*/
.Nav {
  list-style: none;
  background-color: seagreen;
  display: flex;
  justify-content: space-evenly;
  gap: 3vw;
  align-items: center;
  height: 15vh;
  color: white;
  position: relative;

}

.Nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 24px;
}

.Nav a:hover {
  text-decoration: underline;
}

.mob {
  display: flex;
  text-align: center;
  gap: 1vw;
  font-size: 23px;

}

.iconn {
  height: 6vh;
  width: 3vw;
  border-radius: 50%;
  background-color: rgb(206, 74, 41);
}




/*-------body design of all component--------------------=======*/
.main-container {
  height: 200vh;
  background-color: rgb(220, 253, 234);
}

.container2 {
  display: flex;
  justify-content: space-evenly;
  height: 190vh;
  width: 100%;
  gap: 4vw;
  flex-wrap: wrap;

}

.item-container {
  box-sizing: border-box;
  box-shadow: 2px 2px 2px 2px seagreen;
  /* border: 1px solid rgb(150, 148, 148); */
  text-align: center;
  width: 20vw;
  height: auto;
}

.image {
  height: 35vh;
  width: 15vw;

}

.Aprice {
  text-decoration: line-through;
  color: grey;
}

/*==============HOME PAGE===========================*/
.container-home {
  height: 176vh;
  position: absolute;
  top: 120vh;
  border: 2px solid green;
}

.container2-home {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 12vw;

}

.container-home h1 {
  text-align: center;
  font-size: 38px;
  font-weight: bold;
}

.Shop-more {
  position: relative;
  top: 265vh;
  border: 2px solid red;
  width: 100%;
}

.Shop-more img {
  height: 60vh;
}

.Shop-more button {
  position: absolute;
  top: 26vh;
  left: 16vw;
  height: 8vh;
  width: 10vw;
  font-size: 18px;
  font-weight: bold;
  background-color: transparent;
  border-color: chocolate;
  color: rgb(102, 79, 3);
}

.Shop-more h4 {
  position: absolute;
  top: 7vh;
  left: 2vw;
  font-size: 30px;
  color: aliceblue;
}

/* =================customer support facilities========================*/
.facilties {
  height: 60vh;
  border: 2px solid black;
  width: 100%;
  position: relative;
  top: 270vh;
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
  justify-content: space-evenly;
}

.Csupport {
  height: 53vh;
  width: 22vw;
  border-radius: 15px;
  box-shadow: 2px 2px 2px 2px seagreen;
  background-color: rgb(183, 243, 183);
  text-align: center;
  color: rgb(83, 83, 83);
  line-height: 25px;
  /* padding: 15px; */
}

.support {
  font-size: 36px;
  text-align: center;
  color: darkgreen;

}

.Csupport h2 {
  text-align: center;
  color: darkgreen;
}

/*=================featured product=================*/
.featuredProduct {
  height: auto;
  border: 2px solid black;
  width: 100%;
  position: relative;
  top: 290vh;
  display: flex;
  flex-wrap: wrap;
  gap: 5vw;
  justify-content: space-evenly;
}

/*---------------single page design----------------------*/
.single-page {
  display: flex;
  gap: 8vw;
}

.single-page-img {
  border: 2px solid rgb(102, 95, 95);
  height: 80vh;
  width: 55vw;
  display: flex;


}

.big-img {
  border: 2px solid green;
  position: absolute;
  left: 8vw;
}

.big-img img {
  height: 55vh;
  width: 25vw;
}



.small-img {
  border: 2px solid skyblue;
  height: 20vh;
  width: 10vw;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-evenly;
  top: 60vh;
  gap: 5vw;
}

.small-img img {
  height: 18vh;
  width: 9vw;
}


.single-page2 {
  font-size: 28px;
  font-weight: bold;
}

.single-page h4 {
  color: rgb(2, 39, 119);
}

.single-page2 h5 {
  color: #522626;
}

.price-detail {
  display: flex;
  gap: 3vw;
  color: #5a0808;
}

.aprice {
  text-decoration: line-through;
}

.aprice span {
  text-decoration: none;
}

.Addcart {

  font-weight: bold;
  height: 8vh;
  width: 16vw;
  font-size: 22px;
  background-color: rgb(10, 149, 184);
}

.mobileNav {
  display: none;
}

.hidenav {
  display: none;
}

/*================================================================
================================================================
==================MEDIA QUERRY================================*/

@media screen and (min-width:280px) and (max-width:760px) {

  /*===============HEADER DESIGN=======================*/
  .header {
    height: 13.5vh;
    width: 100%;
  }

  .logo {
    height: 8vh;
    width: 9vw;

  }

  .search-item {
    display: none;
  }

  .hampburgerr {
    display: flex;
    font-size: 32px;
    position: absolute;
    right: 5vw;
    top: 3vh;
  }

  /*=======================CARTLOGO-DESIGN==============*/
  .authentication {
    display: none;

  }

  .authenticationMobile {
    display: block;
    position: absolute;
    z-index: 30;
    top: 8vh;
  }

  .cart-icon {
    font-size: 30px;
    position: absolute;
    left: 80vw;
    top: 7vh;
  }


  .user {
    position: absolute;
    font-size: 30px;
    left: 4vw;
    top: 7vh;
  }

  .counting {
    position: absolute;
    top: 3.5vh;
    font-size: 24px;
    left: 90vw;
  }

  .user-fill {
    display: none;
  }


  .authentication:hover .user-fill {
    display: flex;
    flex-direction: column;
    z-index: 1;
    position: relative;
    top: 13vh;
    background-color: rgb(253, 216, 222);
    font-size: 24px;
    text-align: center;
    color: rgb(177, 19, 111);

  }

  a {
    text-decoration: none;
  }

  /*========================navbar=================
  ========================*/
  .Nav {
    display: none;
  }


  .mobileNav {
    position: absolute;
    display: block;
    z-index: 20;
    top: 4rem;
    background-color: white;
    width: 100%;
    padding: 2rem 0rem;
    backdrop-filter: (10px);

  }

  .mobileNav li {
    list-style-type: none;
    margin-top: 15px;
    font-size: 22px;
    font-weight: bold;
  }

  .hidenav {
    display: none;
  }

  /*==============HOME PAGE===========================*/
  .container-home {
    height: auto;
    width: 100%;
    top: 74vh;
    border: 2px solid green;
  }

  .container2-home {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 12vh;

  }

  /* .container-home h1 {
    text-align: center;
    font-size: 38px;
    font-weight: bold;
  } */


  /*-------body design of all component--------------------=======*/
  .main-container {
    height: 260vh;
  }

  .container2 {
    display: flex;
    height: auto;
    width: 100%;
    gap: 5vh;
  }

  .item-container {
    width: 100%;
    height: auto;
    font-size: 20px;
  }

  .image {
    height: 35vh;
    width: 30vw;
  }

  /*==========================shop more+++++++++++++++++++*/
  .Shop-more {
    position: relative;
    top: 460vh;
    width: 100%;
  }

  .Shop-more img {
    height: 50vh;
  }

  .Shop-more button {
    top: 24vh;
    left: 6vw;
    height: 6vh;
    width: 25vw;
    font-size: 14px;
  }

  .Shop-more h4 {
    font-size: 20px;
  }

  /* =================customer support facilities========================*/
  .facilties {
    height: auto;
    border: 2px solid black;
    width: 100%;
    position: relative;
    top: 465vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 8vh;
    justify-content: space-evenly;
  }

  .Csupport {
    height: 52vh;
    width: 100%;
    border-radius: 15px;
    border: 1px solid red;
    background-color: #fff0f0;
    text-align: justify;
    color: gray;
  }

  .support {
    font-size: 30px;
    text-align: center;
    color: rgb(128, 0, 90);

  }

  .Csupport h2 {
    text-align: center;
    color: rgb(235, 81, 127);
  }




}