/* Footer.css */

.footer {
    background-color: #333;
    color: white;
    padding: 30px 0;
    position: relative;
    top: 270vh;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    padding: 0 20px;
}

.footer-section h2 {
    color: #61dafb;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section a {
    text-decoration: none;
    color: white;
}

.footer-bottom {
    text-align: center;
    padding: 10px 0;
}

.Socialmedia {
    height: 20vh;
    width: 25vw;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 40vh;
}

.sicon {
    height: 6vh;
    width: 3vw;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .footer-content {
        flex-direction: column;
    }

    .footer-section {
        margin-bottom: 20px;
    }
}